body {
  padding-top: 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    outline: 0;
}

path {
  stroke: #000;
  stroke-width: .5px;
  fill: #39c;
}

circle {
  fill: #39c;
}
